.c-container{
    justify-content: space-around;
    gap: 1rem;
}

.c-container>img{
    width: 9rem;
}
.c-container>img:hover{
    filter: invert(30%) sepia(96%) saturate(2138%) hue-rotate(215deg) brightness(83%) contrast(91%);
transition: ease-in-out 500ms;
}